<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HappyShop.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Ise.Kiosk.Database.Properties.Settings>
      <setting name="MySqlConnectionString" serializeAs="String">
        <value>server=localhost;Database=kiosk;Uid=kiosk;Pwd=kiosk;default command timeout=30;</value>
      </setting>
      <setting name="PriceCalculationExtraCharge" serializeAs="String">
        <value>0.02</value>
      </setting>
    </Ise.Kiosk.Database.Properties.Settings>
  </applicationSettings>
</configuration>